.venv/
__pycache__/
*.pyc
.env.local
.env
documents.json
users.json
routing_slips.json
activity_log.json
saved_offices.json
doc_qr_tokens.json
*.pyc
node_modules
tsconfig.tsbuildinfo
devices.json
README.md
settings.json
deped-document-tracker/